.profile{
    padding: 120px;
    box-sizing: border-box;

    width: 100%;
    min-height: 100vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3{
        opacity: 1;
    }
}

.profileInfo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    width: 100%;
    height: fit-content;
}


.aside{
    width: 36%;
    height: fit-content;

    padding: 30px 25px;
    box-sizing: border-box;

    border: 1px solid #EAEAEA;
    background-color: transparent;

    border-radius: 12px;
}

.profileNameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileNameBlock{
    width: 100%;

    display: flex;
    align-items: flex-start;
    gap: 20px;

    .profileNameContent{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        >div{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            position: relative;

            >button{
                background-color: transparent;

                height: 22px;

                cursor: default;
            }

            >h2{
                font-size: 20px;
                font-weight: 500;
                line-height: 26px;
                text-align: left;
            }

            .isVerify{
                position: absolute;
                top: -80px;
                right: -300px;

                width: 348px;
                height: 59px;

                padding: 11px 16px 11px 16px;
                box-sizing: border-box;

                background-color: #fff;

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                border-radius: 8px;

                >h2{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }

                >div{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 17px;

                    opacity: 0.5;

                    position: relative;

                    >img{
                        position: absolute;
                        bottom: -23px;
                        left: 10px;

                        z-index: 999;
                    }
                }
            }         
        }


        >h3{
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;

            padding-left: 30px;
            box-sizing: border-box;

            background-image: url('../../assets/icons/location.svg');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: left;
        }
    }
}

.profileActions{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-top: 15px;

    >button{
        width: 100%;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        font-weight: 400;
        font-size: 16px;
        line-height: 16px;

        border: 1px solid #000;

        border-radius: 10px;
    }

    >:first-child{
        background-color: #000;
        color: #fff;
    }

    >:last-child{
        background-color: transparent;
        color: #000;
    }
}

.profileStats{
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    border-top: 1px solid #e5e5e5;

    margin-top: 19px;
    padding: 19px 0;
    border-bottom: 1px solid #dedede;
    box-sizing: border-box;

    >div{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;

        height: fit-content;

        >h2{
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            text-align: left;  
            
            color: #000;
        }

        >h3{
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;

            opacity: 0.5;

            text-wrap: nowrap;
        }
    }
}

.profileVerification{
    margin-top: 19px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;

    >h2{
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
    }

    >h3{
        padding-left: 39px;
        box-sizing: border-box;

        font-size: 18px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;

        background-position: left;
        background-repeat: no-repeat;
        background-size: auto;

        opacity: 0.6;
    }

    >h3{
        background-image: url('../../assets/icons/email.svg');
    }

    .emailConfirm > h2{
        background-image: url('../../assets/icons/email.svg');
    }
}

.profileEducation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >h2{
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;

        margin-top: 40px;
    }

    .profileEducationContent{
        display: flex;
        align-items: center;
        gap: 15px;
    
        margin-top: 15px;
    
        >div{
            >h2{
                font-size: 22px;
                font-weight: 500;
                line-height: 26px;
                text-align: left;
            }
            
            >h3{
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
    
                opacity: 0.5;
    
                margin-top: 5px;
            }
        }
    }

    .profileSkills{
        margin-top: 15px;
    
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
        
        >li{
            padding: 8px 24px;
            box-sizing: border-box;
    
            background-color: transparent;
            border: 1px solid #0000004D;

            color: #000;
    
            border-radius: 8px;

            font-weight: 400;
            font-size: 16px;
            line-height: 16px;

            opacity: 0.7;
        }
    }
}

.jobExperience, .otherExperience{
    margin-top: 40px;

    >h2{
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
    }

    .experienceList, .otherExperienceList{
        margin-top: 15px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    
        >li{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            text-align: left;
    
            >h2{
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
            }
    
            >h3, p{
                font-size: 18px;
                font-weight: 400;
                line-height: 19px;
    
                opacity: 0.7;
            }
            
            >h3{
                margin-top: 10px;
            }
    
            >p{
                margin-top: 5px;
            }
        }
    }
}


.profileContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 63%;
    height: fit-content;
}

.profileBio{
    width: 100%;
    height: fit-content;

    border-radius: 12px;

    background-color: #f7f7f7;

    padding: 30px 25px;
    box-sizing: border-box;

    position: relative;
    overflow: hidden; 

    background-image: url('../../assets/images/bg-item.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    >div{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        >h2{
            font-size: 28px;
            font-weight: 400;
            line-height: 31px;
            text-align: left;
        }

        >button {
            background-color: transparent;
        }
    }

    >h3{
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        margin-top: 25px;
        opacity: 0.6;
    }
}

.profileBio::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px; 
    border-radius: 12px;
    background: linear-gradient(180deg, #E4E4F3 0%, rgba(159, 159, 210, 0.8) 100%);
    -webkit-mask: 
        linear-gradient(white 0 0) content-box, 
        linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.responseConsultation, .doneTasks{
    margin-top: 40px;

    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >h2{
        font-size: 28px;
        font-weight: 400;
        line-height: 31px;
        text-align: left;
    }

    >h3{
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        margin-top: 20px;

        opacity: 0.5;
    }

    .consultationCard{
        margin-top: 20px;
    
        width: 100%;
        height: fit-content;
    
        border-radius: 12px;
        border: 1px solid #EAEAEA;
    
        padding: 30px 25px;
        box-sizing: border-box;
    
        display: flex;
        align-items: center;
        gap: 24px;

        .consultationCardContent{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        
            >h2{
                font-size: 28px;
                font-weight: 400;
                line-height: 31px;
                text-align: left;
            }
        
            >h3{
                margin-top: 10px;
        
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
        
                opacity: 0.7;
            }
        
            >ul{
                margin-top: 20px;
        
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 10px;
        
                >li{
                    padding: 8px 24px;
                    box-sizing: border-box;
            
                    background-color: transparent;
                    border: 1px solid #0000004D;
        
                    color: #000;
            
                    border-radius: 8px;
        
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
        
                    opacity: 0.7;
                }
        
            }
        
            >a{
                padding-right: 42px;
                box-sizing: border-box;
        
                background-image: url('../../assets/icons/gradientArrow.svg');
                background-position: right;
                background-size: auto;
                background-repeat: no-repeat;

                margin-top: 11px;
                
                >span{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                }
            }
        }
    }

    .doneTasksTitle{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        width: 100%;
    
        >h2{
            font-size: 28px;
            font-weight: 400;
            line-height: 31px;
            text-align: left;
        }
    
        >button{
            background-color: transparent;
        }
    }

    .taskCards{
        margin-top: 20px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    
        >li{
            padding: 20px 25px;
            box-sizing: border-box;
    
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            border: 1px solid #0000001A;
            border-radius: 16px;
    
            >h2{
                font-size: 22px;
                font-weight: 500;
                line-height: 26px;
                text-align: left;
            }
    
            >p{
                margin-top: 11px;
    
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
    
                opacity: 0.6;
            }
    
            .rating{
                display: flex;
                align-items: center;
                gap: 10px;
            
                margin-top: 11px;
            
                >div{
                    display: flex;
                    align-items: center;
                    gap: 3px;
                }
    
                >h3{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
    
                    opacity: 0.6;
                }
            }
    
            .taskCardPrice{        
                display: flex;
                align-items: center;
                gap: 20px;
            
                margin-top: 20px;
            
                >h2, h3{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 19.8px;
                    text-align: left;
            
                    opacity: 0.6;
                }
            }
        }
    }    
}

.arrowBtns{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 25px;

    >button{
        background-color: transparent;
    }

    .prevBtn{
        transform: rotate(180deg);
        opacity: 0.6;
    }
}

.profilePortfolio{
    margin-top: 79px;

    width: 100%;
    height: fit-content;

    >h2{
        font-size: 28px;
        font-weight: 400;
        line-height: 31px;
        text-align: left;
    }

    .portfolioTasks{
        margin-top: 20px;
    
        width: 100%;
        height: 240px;
    
        display: flex;
        align-items: center;  
        justify-content: center;  
        gap: 20px;
    
        >li{
            width: 284px;
            height: 100%;
    
            background-color: #fff;
    
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
    
            border-radius: 12px;
    
            >h2{
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
    
                padding: 0 14px;
                box-sizing: border-box;
            }
        }
    }
}

.profileReviews{
    margin-top: 40px;

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >h2{
        font-size: 28px;
        font-weight: 400;
        line-height: 31px;
        text-align: left;

        >span{
            opacity: 0.7;
        }
    }

    .reviewsList{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    
        margin-top: 20px;
    
        >li{
            display: flex;
            align-items: center;
            gap: 13px;
    
            padding: 15px 20px;
            box-sizing: border-box;
    
            border: 1px solid #EAEAEA;
    
            border-radius: 12px;
    
            .reviewsContentTitle{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
    
                >div{
                    display: flex;
                    align-items: center;
                    gap: 10px;
    
                    >h2{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                    }
                }
    
                >p{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
    
                    opacity: 0.7;
                }
            }
        }
    }

    .showMoreReviews{
        width: 159px;
        height: 36px;
    
        align-self: center;
    
        margin-top: 30px;
    
        padding: 8px 16px;
        box-sizing: border-box;
    
        background-color: #EAEAEA;
        color: #000;
    
        border-radius: 8px;
    
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
    }
    
}

.announcement{
    width: 100%;
    height: fit-content;

    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >h2{
        font-size: 28px;
        font-weight: 400;
        line-height: 31px;
    }

    .announcementList{
        margin-top: 20px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 21px;
    
        width: 100%;
        height: 383px;
    
        >li{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            width: 284px;
            height: 100%;
    
            background-color: transparent;
            border: 1px solid #EAEAEA;

            border-radius: 12px;
    
            .orderText{
                width: 100%;
                height: fit-content;
    
                padding: 0 12px 20px 12px;
                box-sizing: border-box;
    
                margin-top: 20px;
    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                >h2{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 19.8px;
                    text-align: left;
                }
        
                >h3{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    text-align: left;
        
                    margin-top: 20px;
                }
        
                >h4{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
        
                    margin-top: 5px;
    
                    opacity: 0.5;
                }

                .orderActions{
                    width: 100%;

                    display: flex;
                    align-items: center;
                    gap: 15px;

                    margin-top: 24px;

                    >button{
                        width: 48px;
                        height: 48px;

                        border-radius: 10px;

                        background-color: transparent;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    >a{            
                        width: 80%;
                        height: 48px;
                        
                        padding: 16px 0;
                        box-sizing: border-box;
            
                        display: flex;
                        align-items: center;
                        justify-content: center;
            
                        background-color: #000;
                        color: #fff;
            
                        border-radius: 10px;
                    }
                }
            }
        }

        >li:nth-child(2){
            .orderActions button {
                position: relative;
                overflow: hidden; 
            }

            .orderActions button::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 1px; 
                border-radius: 10px;
                background: linear-gradient(180deg, #543BA7 0%, #7F78E9 100%);
                -webkit-mask: 
                    linear-gradient(white 0 0) content-box, 
                    linear-gradient(white 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
            }
        }

        >li:nth-child(1), >li:nth-child(3), li:nth-child(4){
            .orderActions button {
                border: 1.5px solid #000000;
            }
        }
    }
}