.createConsultationWrapper{
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 190px;

    padding: 170px 120px 60px 120px;
    box-sizing: border-box;
}

.createConsultation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: fit-content;

    >h2{
        font-weight: 400;
        font-size: 42px;
        line-height: 42px;
    }

    >p{
        margin-top: 15px;
        opacity: .7;

        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }

    >textarea{
        width: 100%;
        height: 165px;

        padding: 15px;
        box-sizing: border-box;

        margin-top: 40px;

        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        resize: none;
        outline: none;
        appearance: none;

        background-color: transparent;
        color: #000;

        border-radius: 14px;
        border: 1px solid #000;
    }
}