.createProfile{
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    padding: 37px 120px 60px 120px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
}

.createProfileContainer{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >h2{
        font-size: 42px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: -0.03em;
        text-align: left;
    }

    >h3{
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        margin-top: 20px;
        opacity: 0.6;
    }

    .addExperience{
        width: 40%;
        height: 50px;

        border-radius: 10px;
        border: 1px solid #000;

        margin-top: 50px;

        background-color: transparent;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        >span{
            color: #000;

            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
        }
    }
}

.modalContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    >h2{
        font-size: 28px;
        font-weight: 400;
        line-height: 31px;
        text-align: left;

        margin-bottom: 28px;
    }

    >form{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        >div{
            width: 100%;
        }

        .formName, .formCompany{
            >input{
                width: 100%;
            }
        }

        .formLocation{
            display: flex;
            align-items: center;
            gap: 30px;

            >div{
                width: 50%;

                >input{
                    width: 100%;
                }
            }
        }

        .formCheckbox{
            display: flex;
            align-items: center;
            gap: 15px;

            >input[type="checkbox"]{
                -webkit-appearance: none; 
                -moz-appearance: none; 
                appearance: none; 
            
                width: 20px;
                height: 20px;
            
                background-color: transparent;
            
                border-radius: 3px;
                border: 1px solid #808080;
                
                cursor: pointer;
            
                margin-left: 5px;
            }
            
            >input[type="checkbox"]:checked {
                background-color: #000; 
                border: 1px solid #000; 
            }
        }

        .formWorkTime{
            width: 100%;

            display: flex;
            align-items: center;
            gap: 15px;

            >div{
                width: 50%;

                >h2{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;

                    margin-bottom: 5px;
                }

                >div{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    >input[type="number"] {
                        -moz-appearance: textfield; 
                        -webkit-appearance: none;
                        appearance: none;

                        width: 50%;
                        height: 46px;

                        padding: 12px;
                        box-sizing: border-box;

                        border-radius: 10px;
                        border: 1px solid #000;

                        background-color: #fff;
                        color: #000;

                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22.4px;
                        text-align: left;
                    }
                    
                    >input[type="number"]::-webkit-inner-spin-button, 
                    input[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

            }
        }

        .formDescription{
            width: 100%;

            >h2{
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;

                margin-bottom: 5px;
            }

            >textarea{
                width: 100%;
                height: 135px;

                border-radius: 14px;
                border: 1px solid #000;

                background-color: #fff;
                color: #000;

                outline: none;
                appearance: none;

                padding: 15px;
                box-sizing: border-box;

                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                
                opacity: 0.6;

                resize: none;
            }
        }

        .formBtns{
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            >button{
                padding: 10px 30px;
                box-sizing: border-box;

                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                text-align: center;

                border-radius: 10px;
                border: 1px solid #000;
            }

            >:first-child{
                background-color: #fff;
                color: #000;
            }

            >:last-child{
                background-color: #000000;
                color: #fff;
            }
        }
    }
}

.experienceList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;

    >li{
        display: flex;
        align-items: center;
        gap: 15px;

        width: 338px;

        position: relative;

        .experienceContent{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            border-left: 1.5px solid #000000B2;

            padding-left: 20px;
            box-sizing: border-box;

            >div{
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;

                >h2{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26.4px;
                    text-align: left;
                }

                >div{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    position: absolute;
                    right: 0;
                    top: 0;

                    >button{
                        background-color: transparent;
                    }
                }
            }

            >h3{
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;

                opacity: 0.6;

                margin-top: 5px;
            }

            >p{
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;

                margin-top: 15px;

                opacity: 0.6;
            }
        }
    }
}

.addExperienceSmall{
    padding: 13px;
    box-sizing: border-box;

    border-radius: 10px;
    border: 1px solid #000;

    background-color: transparent;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceWrapper{
    display: flex;
    align-items: center;
    gap: 60px;

    margin-top: 80px;

    max-width: 75%;
}